.App {
  text-align: center;
}

.App .app-header .navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
  margin: 0;
}

.App .app-header .navigation li a {
  color: white;
  text-decoration: none;
  padding: 20px 25px 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
}

.App .app-header .navigation li a:hover {
  background-color: linear-gradient(45deg, rgba(156,126,195,1) 0%, rgba(156,126,195,1) 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}