.section-container {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.section-container .weather-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    height: 255px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.section-container .weather-box-wrapper .weather-icon {
    width: 100%;
    height: 60%;
    background-color: #fa8072;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.section-container .weather-box-wrapper .temp-place {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 40%;
    background-color: saddlebrown;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.section-container .weather-box-wrapper .month-day {
    width: 30%;
    height: 40%;
    background-color: navajowhite;
    border-bottom-right-radius: 10px;
}

.text-color-red {
    color: red;
}

.text-color-green {
    color: green;
}