.section-container {
    display: grid;
    place-items: center;
    min-height: 70vh;
    opacity: 0.6;
}

.section-container .weather-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    height: 255px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 255, .3);
}

.section-container .weather-box-wrapper .weather-icon {
    display: grid;
    place-items: center;
    width: 100%;
    height: 60%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section-container .weather-box-wrapper .weather-icon img {
    width: 200px;
    height:150px;
}

.section-container .weather-box-wrapper .temp-place {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;
    height: 40%;
    background-color: black;
    border-bottom-left-radius: 10px;
}


.section-container .weather-box-wrapper .temp-place .place-grade {
    display: grid;
    place-content: center;
    width: 50%;
    height: 100%;
    font-size: 48px;
    font-weight: 200;
}

.section-container .weather-box-wrapper .temp-place .place-words {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
    font-size: 28px;
    font-weight: 200;
    font-style: italic;
    text-align: start;
    color: white;
}

.section-container .weather-box-wrapper .temp-place .place-city {
    width: 50%;
    height: 50%;
    font-size: 24px;
    font-weight: 200;
    text-align: start;
    color: white;
    overflow: hidden;
}

.section-container .weather-box-wrapper .month-day {
    display: grid;
    place-content: center;
    width: 35%;
    height: 40%;
    background-color: cadetblue;
    border-bottom-right-radius: 10px;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: -5px;
    color: white;
}

.text-color-blue {
    color: rgb(0, 170, 255);
}

.text-color-red {
    color: rgb(234, 71, 71);
}